html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
    overflow: hidden;
}

#maparea {
  position: relative;;

  height: calc(100% - 4px);
  width: calc(100% - 353px);
left:353px;
  /*right:0px;*/
   z-index: 0;

}
#map{
  height:100%;
  width: 100%;
  z-index: 0;
}
#searchBar{
  position: absolute;
  top:80px;
  left:10px;

  z-index: 2;
}
.navbarBread{
   width:20px;
   height:2px;
   background: black;
   border: solid 1px;
       display: block;
   /*background-color: rgba(0, 0, 0, 0.5);*/
   z-index: 10;
   margin:3px;
}
#main {
  position:absolute;
  top:0px;
  z-index: 100;
  text-align: center;
  background-color: white;
  height:calc(100% - 4px);
  width: 350px;
  border:solid 3px;
  overflow-y:auto;
   z-index: 3;
  overflow-x: hidden;
  float:left;
}


.colapse-btn:before{
  position: absolute;
  left:297px;
  top:20px;
  content:'<<';
  width: 35px;
  height:35px;
  font-size: 1.5em;
  border-style: solid;
  border-width: 3px;
  border-radius: 22%;
  padding-right: 15px;
  padding-top: 7px;
  padding-left: 7px;
  float: left;
  z-index: 100;
  background-color: white;
  border-right-style: none;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.colapse-btn:hover{
   cursor: pointer;
   opacity: 0.6;
}
#title{
  margin-top: 25px;
  margin-left: -50px;
  opacity: 0.6;
}
.TabExpanded{
  color:blue;
}
.TabCollapsed{
  color:yellow;
}
@media (max-width:660px) {
  #main{
    margin-left: -353px;
    opacity: 0.4;
  }
  #maparea{
 left:0px;
 width: 100%;
  }
}
