html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
    display: inline-block;
  height: calc(100% - 4px);
  width: 100%;

  right:0px;
   z-index: 0;

}
#main {
  position:absolute;
  top:0px;
  z-index: 100;
  text-align: center;
  background-color: white;
  height:calc(100% - 4px);
  width: 350px;
  border:solid 3px;
  overflow-y:auto;
   z-index: 3;
}

.colapse-btn:before{
  position: relative;
  left:328px;
  content:'>';
  width: 35px;
  height:35px;
  font-size: 1.8em;
  border-style: solid;
  border-width: 3px;
  border-radius: 22%;
  margin:25px;
  margin-right: 0px;
  padding-left: 15px;
  float: left;
  z-index: 100;
  background-color: white;
  border-left-style: none;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.colapse-btn:hover{
   cursor: pointer;
}
#title{
  margin-top: 25px;
  margin-left: -100px;

}
.TabExpanded{
  color:blue;
}
.TabCollapsed{
  color:yellow;
}
